<div class="flex-w flex-sb-m p-b-52">
  <div class="flex-w flex-l-m filter-tope-group m-tb-10">

      <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" >
    <a routerLink="livres" >All Books</a>
    </button>



    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" ><a routerLink="categorie/crime">
    Crime</a>
    </button>

    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" > <a routerLink="categorie/biography">
      Biography</a>
    </button>

    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" > <a routerLink="categorie/historical">
      Historical</a>
    </button>
    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" > <a routerLink="categorie/romance">
     Romance</a>
    </button>


  </div>
</div>
