





	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
                  <th class="column-5">Total</th>
                  <th class="column-6"></th>
								</tr>

								<tr class="table_row" *ngFor="let carte of Cartes">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="../../assets/images/{{carte.id}}.jpg" alt="IMG">
										</div>
									</td>
									<td class="column-2">{{carte.title}}</td>
									<td class="column-3">$ {{carte.prix}}</td>
									<td class="column-4">
										<form>
                      <input  #quantite ngModel class="form-control" name="quantite" type="number" id="quantite" value="0" >
                    </form>
									</td>
									<td class="column-5">$ {{carte.prix*quantite.value}}</td>
                <td class="column-6"> <button class="btn btn-danger" (click)="remove(carte)">Remove </button></td>
                </tr>


              </table>


</div>
<div  class="col-lg-3" style="margin-top: 50px;">
  <button  class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
    Proceed to Checkout
  </button>
						</div>

					</div>
				</div>


			</div>
		</div>
	</form>






