<header class="fixed-top" style="background-color: white">
  <!-- Header desktop -->
  <div class="container-menu-desktop container">
    <div class="wrap-menu-desktop">
      <nav class="navbar navbar-expand-md container-menu-desktop" >

        <!-- Logo desktop -->
        <a routerLink="" class="logo">
            <img src="../assets/images/icons/logo.png" class="logo-dimensions normal-logo" id="site-logo" alt="IMG-LOGO" width="170" height="33.792048929664">
                <style>
                .logo-dimensions {
                  min-width: 170px;
                  width: 170px;
                }
              </style>

                  </a>

        <!-- Menu desktop -->
        <div class="menu-desktop">
          <ul class="main-menu">





            <li>
              <a     class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BOOKS</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" routerLink="livres">All</a>
                <a class="dropdown-item" routerLink="categorie/crime">CRIME</a>
                <a class="dropdown-item" routerLink="categorie/romance">ROMANCE</a>
                <a class="dropdown-item" routerLink="categorie/biography">BIOGRAPHY</a>
                <a class="dropdown-item" routerLink="categorie/historical">HISTORICAL</a>


              </div>
            </li>






            <li routerLinkActive="active-menu" style="font-size: 14px;">
              <a routerLink="contact">CONTACT US</a>
            </li>


          </ul>

        </div>

        <!-- Icon header -->
        <div  class="wrap-icon-header flex-w flex-r-m">
            <div class="row">
          <div class="col-lg-15">

              </div>
            </div>


          <a  routerLink="cartshop" class="ml-5" *ngIf="_authservice.user$ | async as user" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" [attr.data-notify]="_cartshopservice.Cartes.length">
            <i class="zmdi zmdi-shopping-cart"></i>
          </a>



            <li *ngIf="!(_authservice.user$ | async)" >
              <a routerLink="login" class="ml-5"><i class="fas fa-door-closed" style="font-size: 1.3em; color:black; margin-right: 5px;" ></i><span style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 16px; color:dimgrey;">LOGIN</span></a>
            </li>

            <img *ngIf="_authservice.user$ | async as user" class="rounded-circle" src={{user.photoURL}} style="height: 30px;width: 30px; margin-left: 30px;">
            <div class="dropdown">
                <a *ngIf="(_authservice.user$ | async) as user" class=  "dropdown-toggle" href="#"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 16px; color:dimgrey;">
                  {{user.displayName}}
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-top: 27px;">
                  <a class="dropdown-item" routerLink="cartshop"><i class="fas fa-shopping-cart" style="font-size: 1.3em; color:black; margin-right: 5px;"></i><span style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 16px; color:dimgrey;">MY ORDERS</span></a>
                  <a class="dropdown-item" (click)="logout()"  href="#"  ><i class="fas fa-door-open" style="font-size: 1.3em; color:black; margin-right: 5px;" ></i><span style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 16px; color:dimgrey;">LOG OUT</span></a>
                </div>
              </div>

          </div>
      </nav>
    </div>
  </div>



</header>

