<div class="card-deck">
  <div class="row">
 <div class="col-lg-4" *ngFor="let livre of livres">
    <div class="card mb-5" style="width: 350px; height: 570px;">
    <img class="card-img-top" src="../../assets/images/{{livre.id}}.jpg" alt="Card image cap" style="width: 350px ; height:400px ;">
    <div class="card-body">
      <h5 class="card-title" ><strong>{{livre.title}}</strong></h5>
      <br/>
      <h4>{{livre.prix}} DT</h4>

<a [routerLink]="['/livres' , livre.id]">      <button class="btn btn-info"><i class="fas fa-search-plus"  ></i></button>
</a>
    </div>
  </div>
</div>
</div>
