<!--slider-->
<app-slider></app-slider>
<!-- Banner -->
<app-banner></app-banner>
<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
  <div class="container">
    <div class="p-b-10">
      <h3 class="ltext-103 cl5">
        Book Collection
      </h3>
    </div>

    <app-searchbar></app-searchbar>

  <app-listelivre></app-listelivre>




  <!-- Load more -->
    <div class="flex-c-m flex-w w-full p-t-45">
      <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
        Load More
      </a>
    </div>
  </div>
</section>
